.slideContainer {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 20px;
}

.slideNumber,
.addSlide {
  position: relative;
  width: 100%;
  min-height: 65px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  font-weight: 700;
  box-shadow: 0px 4px 15px 0px #0000001a;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.modalCloseIcon {
  position: absolute;
  top: -7px;
  right: -7px;
  scale: 0.5;
  cursor: pointer;
}

.formContainer {
  width: 100%;
  font-weight: 700;
}

.formContainer div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 18px;
}

.formContainer label {
  width: 100px;
  font-size: 1.2rem;
}

.formContainer input,
.formContainer select,
.formContainer textarea {
  padding: 10px;
  width: 250px;
  color: #8e8e8e;
  font-weight: 700;
  border: 2px solid #8e8e8e;
}

.btnContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.leftBtnContainer {
  display: flex;
  gap: 10px;
}

.prevBtn {
  background-color: #7eff73;
}

.nextBtn {
  background-color: var(--secondary-color);
}

.postBtn {
  background-color: var(--primary-color);
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: 700;
}
