.wrapper {
  position: relative;
}

.categoryStory {
  height: 42rem;
  width: auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 20px;
}

.categoryStoryHeader {
  font-size: 1.7rem;
}

.categoryStory button {
  width: 110px;
}

.editBtn {
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translateX(50%);
  color: black;
  font-weight: 700;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.editBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
