.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.storyViewerContainer {
  height: 620px;
  max-width: 800px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storyViewer {
  height: 100%;
  width: 340px;
  background-color: black;
  position: relative;
  background: linear-gradient(180deg, #000000 59.6%, rgba(0, 0, 0, 0) 102.31%);
}

.progressBarContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 15px;
}

.progressBar {
  height: 5px;
  width: 100%;
  background-color: #d9d9d980;
}

.progressBarActive {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
}

.crossIcon {
  position: absolute;
  top: 40px;
  left: 20px;
}

.shareIcon {
  position: absolute;
  top: 40px;
  right: 20px;
}

.bookmarkIcon {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.likeIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.categoryStory {
  font-weight: 700;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 85px 20px;
}

.storyViewer img {
  cursor: pointer;
}

.categoryStoryHeader {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.linkCopiedMsg {
  background-color: #d9d9d9;
  width: 100%;
  color: #ff0000;
  font-weight: 700;
  text-align: center;
  border-radius: 60px;
  padding: 10px 0;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .storyViewerContainer {
    width: 100%;
    height: 100%;
  }
  .storyViewer {
    width: 100%;
    height: 100%;
  }
}
